@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Poppins', sans-serif;
  
    --swiper-navigation-size: 30px;
    --swiper-navigation-top-offset: 50%;
    --swiper-navigation-sides-offset: 10px;
    --swiper-navigation-color: black;
}

.swiper-button-next:hover:after, .swiper-button-prev:hover:after{
  color: #219653;
  
} 
.swiper-button-next::after, .swiper-button-prev::after{
  transition: all 500ms;
  font-weight: bold;
}
body {
  overflow-x: hidden;
}

.gradientePreto {
  background-image: linear-gradient(to top ,rgba(0,0,0, 1) 15%, rgba(255,255,255, 0) 60%);
}

::-webkit-scrollbar {
  width: 8px; 
}

::-webkit-scrollbar-thumb {
  @apply bg-verde transition-all;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-green-800;
}


::-webkit-scrollbar-track {
  @apply bg-zinc-100;
}


.inputGroup {
  font-family: 'Segoe UI', sans-serif;
  position: relative;
}

.inputGroup input , .inputGroup textarea{
  font-size: 100%;
  padding: 6px;
  outline: none;
  border: 2px solid #219653;
  border-radius: 8px;
  @apply w-[80vw] md:w-[50vw] lg:w-[25vw] bg-zinc-50;
}

.inputGroup label {
  font-size: 100%;
  position: absolute;
  left: 1.3em;
  margin-left: 0.5em;
  transition: all 0.3s ease;
  transform: translateY(-60%);
  margin: 0;
  @apply text-xs lg:text-sm px-2 py-1 text-zinc-950 font-semibold bg-gradient-to-t to-white to-30% from-zinc-50 from-30% ;
}

.inputGroup input::placeholder, .inputGroup textarea::placeholder {
  @apply text-zinc-600;
}